/* Apply a dark background color to the entire page */
body {background-color: #232136;}

/* Navigation bar colours */
.navbar-border {border-color: #393552;}
.navbar-border:hover {border-color: #ea9a97;}
.navbar-border legend {color: #6e6a86;}
.navbar-border:hover legend {color: #ea9a97;}

.navbar li a {color: #908caa;} 
.navbar li a:hover {background-color: #44415a;}

/* ascii title colours */
.ascii-title {color: #f6c177}

/* blog post colours */
.blog-post-border {border-color:#393552;}
.blog-post-border:hover {border-color: #ea9a97;}
.blog-post-border legend {color: #6e6a86;}
.blog-post-border:hover legend {color: #ea9a97;}

section {background-color: #393552; color: #e0def4;}
section h3 {color: #908caa;}

/* schedule colours */
.sched-post-border {border-color:#393552;}
.sched-post-border:hover {border-color: #ea9a97;}
.sched-post-border legend {color: #6e6a86;}
.sched-post-border:hover legend {color: #ea9a97;}

.sched-table th {background-color: #56526e; color: #908caa;}
.sched-table td {color: #908caa;}

/* footer colours */
.footer-border {border-color: #393552;}
.footer-border legend {color: #6e6a86;}
.footer-border p {color: #393552;}